@import 'styles/variables.scss';
@import 'styles/mixins.scss';

.main__page {
    &-wrapper {
        padding-top: 90px;
        max-width: 1240px;
        margin: 0 auto;
    }

    &-title {
        font-size: 30px;
        margin-bottom: 5px;
        text-align: center;
    }

    &-subtitle {
        font-size: 18px;
        max-width: 500px;
        text-align: center;
        margin: 0 auto;
        color: gray;
        margin-bottom: 50px;
    }

    &-cards {
        margin: 0 auto;
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
        margin-top: 30px;
        padding-bottom: 50px;
    }
}

.form {
    display: flex;
    gap: 30px;
    max-width: 100%;

    &__wrapper {
        width: 100%;
    }

    &__input {
        height: 60px;
        min-width: 290px;
        margin-bottom: 20px;
        border-color: #000;
        font-size: 18px;

        &-block {
            display: flex;
            gap: 20px;
        }

        &:focus {
            box-shadow: none;
        }
    }

    &__dropdown {
        width: 40%;
        min-width: 290px;

        &-wrapper {
            display: flex;
            gap: 10px;
            width: 100%;
            justify-content: space-between;
            align-items: flex-end;
        }

        &-toggle {
            height: 60px;
            width: 100%;
            text-align-last: left;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-right: 1rem;
            font-size: 18px;

            &:focus {
                box-shadow: none;
            }

            &:active {
                box-shadow: none;
            }
        }

        &-menu {
            width: 100%;
            text-align-last: left;
        }
    }

    &__button {
        background-color: #f6881b;
        padding: 15px 40px;
        border-color: #000;
        font-size: 18px;
        height: 60px;
        max-width: 150px;
    }

    &__mobile-button {
        background-color: #f6881b;
        padding: 15px 40px;
        border-color: #000;
        font-size: 18px;
        height: 60px;
        max-width: 150px;
        display: none;
    }
}

#search__sub .input__sub {
    min-height: 150px; /* Задайте желаемую высоту в пикселях */
}




@include tablet {
    .main__page-wrapper {
      max-width: 1100px;
    }
}
  
@include largeTablet {
    .main__page-wrapper {
      max-width: 900px;
    }

    .form {
        gap: 20px;

        &__wrapper {
            width: 100%;
        }
    }
}
  
@include mediumTablet {
    .main__page {
        &-wrapper {
            max-width: 800px;
        }

        &-cards {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .form {
        &__wrapper {
            width: 100%;
            justify-content: space-between;
        }

        &__dropdown {
            &-wrapper {
                flex-direction: column;
                align-items: flex-start;
            }
        }
    }
}
  
@include smallTablet {
    .main__page {
        &-wrapper {
            max-width: 700px;
        }

        &-title {
            font-size: 22px;
        }

        &-subtitle {
            font-size: 14px;
        }
    }
}

@include mobileLandscape {
    .main__page {
        &-wrapper {
            max-width: 600px;
        }
    }

    .form {
        &__drodown {
            width: 100%;
        }
    }
}
  
@include mobile {
    .main__page {
        &-wrapper {
            max-width: 500px;
        }

        &-title {
            font-size: 18px;
        }

        &-cards {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    .form {
        &__button {
            display: none;
        }

        &__mobile-button {
            display: inline-block;
            margin-top: 30px;
        }

        &__dropdown {
            width: 100%;
        }
    }

    
}
  
@include smallMobile {
    .main__page {
        &-wrapper {
            max-width: 450px;
        }
    }
}
  
@include extraSmallMobile {
    .main__page-wrapper {
      max-width: 380px;
    }

    .form__mobile-button {
        max-width: 100%;
        width: 100%;
    }
}
  
@include ultraSmallMobile {
    .main__page {
        &-wrapper {
            max-width: 330px;
        }
    }
}
  
@include tinyMobile {
    .main__page-wrapper {
      max-width: 290px;
    }

    .form {
        &__input {
            font-size: 16px;
        }

        &__dropdown {
            &-toggle {
                font-size: 16px;
            }
        }
    }
}