@import 'styles/variables.scss';
@import 'styles/mixins.scss';

th {
    background-color: #f6881b !important;
    color: #fff !important;
}

td {
    background-color: #dddce4 !important;

}

thead {
    // position: sticky;
    // top: 0;
    // z-index: 1;
  }

.table {
    &__container {
        max-height: 400px;
        overflow-y: auto;
        border-radius: 10px;
    }

    padding: 20px;

    &__head {
        padding: 20px;
        color: #f6881b;
    }

    &__btn:hover {
        background-color: #f6881b !important;
    }
}

.test {
    border-radius: 10px;
    z-index: 1;
}

.modal {

    &__title {
        font-size: 24px;
        font-weight: 700;
        color: #f6881b;
        text-align: center;
        margin-bottom: 20px;
    }

    &__list {
        margin: 0 auto;
        width: 500px;
        &-item {
            display: flex;
            justify-content: space-between;
            gap: 10px;

            &-title {
                position: relative;
                padding-left: 20px;

                &::before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);
                    width: 8px;
                    height: 8px;
                    background-color: #f6881b;
                    border-radius: 50%;
                    margin-right: 10px;
                }
            }
        }
    }
}