.content {
    padding-top: 150px;
    max-width: 1240px;
    margin: 0 auto;

    &__description {
        margin-top: 30px;
        background-color: #fff;
        padding: 10px;
        border-radius: 10px;
    }
}