$brand: #B5460F;
$brand-hover: rgba(181, 70, 15, 0.70);
$brand-disabled: #D9D9D9;
$brand-active: #872D01;
$default-color: #fff;
$text-primary: #000;
$text-secondary: #AFADB5;
$checkbox-disabled: rgba(255, 255, 255, 0.50);
$description-background: rgba(181, 70, 15, 0.33);
$box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);

$space-xl: 24px;
$space-l: 20px;
$space-m: 16px;
$space-s: 14px;
$space-xs: 12px;
$space-xxs: 8px;
$border-radius: 10px;