.content {
    padding-top: 90px;
    max-width: 1240px;
    margin: 0 auto;

    &__title {
        font-size: 13px;
    }

    &__cards {
        margin: 0 auto;
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
        margin-top: 30px;
        padding-bottom: 50px;
    }
}

#search__sub .input__sub {
    min-height: 150px; /* Задайте желаемую высоту в пикселях */
}