@import 'styles/variables.scss';
@import 'styles/mixins.scss';

.admin__page {
    &-wrapper {
        padding-top: 90px;
        max-width: 1240px;
        margin: 0 auto;
        padding-bottom: 30px;
    }

    &-title {
        font-size: 30px;
        margin-bottom: 25px;
        text-align: center;
    }

    &-subtitle {
        font-size: 18px;
        max-width: 500px;
        text-align: center;
        margin: 0 auto;
        color: gray;
        margin-bottom: 50px;
    }

    &-categories {
        margin-top: 50px;
        max-height: 40px;
        padding-bottom: 250px;

        &-content {
            display: flex;
        }

        &-actions {
            display: flex;
            height: 100%;
            gap: 10px;
            align-items: center;
            justify-content: flex-start;
            border: none !important;
        }
    }
}

.table__action {
    display: flex;
    height: 100%;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    border: none !important;
    margin-left: 30px;
    background-color: inherit !important;
}


.dropdown {
    width: 350px;

    &__wrapper {
        max-width: 450px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
    }

    &__btns {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 15px;
        margin-top: 15px;
    }

    &__toggle {
        height: 50px;
        width: 100%;
        text-align-last: left;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 1rem;
        font-size: 18px;

        &::after {
            color: transparent;
        }

        &:focus {
            box-shadow: none;
        }

        &:active {
            box-shadow: none;
        }
    }

    &__menu {
        width: 100%;
        text-align-last: left;
        max-height: 200px;
        overflow: auto;
        right: 0;
        top: 0;

        &-item {
            &:active {
                background-color: $brand !important;
            }
        }
    }

    &__icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 3%;
    }
}

.modal {
    &__title {
        font-size: 24px;
        color: #f6881b;
        text-align: center;
        margin-bottom: 5px;
    }

    &__subtitle {
        font-size: 18px;
        text-align: center;
        color: #f6881b;
    }

    &__delete-btns {
        display: flex;
        justify-content: center;
        margin-top: 15px;
        gap: 10px;
    }

    &__btns {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 10px;
        padding-bottom: 10px;
    }

    &__btn {
        width: 150px;
        background-color: $brand;
    }

    &__users {
        width: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__error {
        color: red;
        padding-top: 5px;
        text-align: center;
    }
}

.form {
    display: flex;
    flex-direction: column;
    &__item {
        width: 350px !important;
    }

    &__input {
        height: 50px;
        border-color: $brand !important;
        font-size: 18px !important;
        margin-bottom: 15px;
    }

    &__textarea {
        max-height: 150px;
        min-height: 150px;
        margin-bottom: 15px;
    }
}