@import 'styles/variables.scss';

.content {
    padding-top: 150px;
    max-width: 1240px;
    margin: 0 auto;

    &__title {
        font-size: 30px;
        text-align: center;
        margin-bottom: 30px;
    }

    &__link {
        text-decoration: none;
        margin-top: 10px;
    }
}

// .form__item {
//     margin-bottom: 10px;
// }