@import 'styles/variables.scss';
@import 'styles/mixins.scss';

.application__page {
    &-wrapper {
        padding-top: 90px;
        max-width: 1240px;
        margin: 0 auto;
    }

    &-title {
        font-size: 30px;
        margin-bottom: 5px;
        text-align: center;
    }

    &-subtitle {
        font-size: 18px;
        max-width: 60%;
        text-align: center;
        margin: 0 auto;
        color: gray;
        margin-bottom: 50px;
    }

    &-info {
        margin: 0 auto;
        margin-top: 50px;
        width: 70%;
        
        &-title {
            // display: inline-block;
            // background-color: #3D348B;
            border-radius: 10px 10px 0 0;
            // padding: 10px 25px;
            margin-bottom: 15px;
            font-size: 18px;
            // color: #fff;
        }

        &-btns {
            display: flex;
            gap: 20px;
            margin-top: 20px;
        }

        &-btn {
            width: 130px;
            height: 50px;
            background-color: #f6881b;
        }
    }
}



@include tablet {
    .application__page-wrapper {
      max-width: 1100px;
    }
}
  
@include largeTablet {
    .application__page {
        &-wrapper {
            max-width: 900px;
        }

        &-info {
            width: 100%;
        }
    }
}
  
@include mediumTablet {
    .application__page {
        &-wrapper {
            max-width: 800px;
        }

        &-subtitle {
            max-width: 100%;
        }
    }
}
  
@include smallTablet {
    .application__page {
        &-wrapper {
            max-width: 700px;
        }

        &-subtitle {
            font-size: 14px;
            margin-bottom: 20px;
        }
    }
}

@include mobileLandscape {
    .application__page {
        &-wrapper {
            max-width: 600px;
        }

        &-title {
            font-size: 24px;
        }
    }
}
  
@include mobile {
    .application__page {
        &-wrapper {
            max-width: 500px;
        }
    }
}
  
@include smallMobile {
    .application__page {
        &-wrapper {
            max-width: 450px;
        }
    }
}
  
@include extraSmallMobile {
    .application__page-wrapper {
      max-width: 380px;
    }
}
  
@include ultraSmallMobile {
    .application__page {
        &-wrapper {
            max-width: 330px;
        }
    }
}
  
@include tinyMobile {
    .application__page-wrapper {
      max-width: 290px;
    }
}