.breadcrumbs {
    margin-bottom: 40px;
    font-size: 20px;

    &__item {


        &-link {
            text-decoration: none;
            color: #3D348B;
        }

        &-last {
            background-color: #2787F5;
            color: #fff;
            padding: 10px;
            border-radius: 10px;
        }

        &-icon {
            margin: 0 10px;
        }
    }
}

// color: '#3D348B'