.breadcrumbss {
    margin-bottom: 40px;
    font-size: 20px;

    &__item {


        &-link {
            text-decoration: none;
            color: #f6881b;
            font-size: 16px;
        }

        &-last {
            // background-color: #f6881b;
            color: #080505;
            padding: 10px;
            // border-radius: 10px;
        }

        &-icon {
            margin: 0 10px;
        }
    }
}
@import "../../styles/variables.scss";

.breadcrumbs {
  text-align: left;
//   max-width: $container-width;
  margin: 10px auto;
}

.breadcrumbs > * {
  display: inline-block;
  margin-right: 10px;
}

.crumb {
  &:after {
    color: #f6881b;
    content: ">";
    margin-left: 10px;
  }

  &:last-child {
    &::after {
      display: none;
    }
  }

  a {
    color: #f6881b;
  }
}

// color: '#3D348B'