@import 'styles/variables.scss';
@import 'styles/mixins.scss';

.filter {
  display: flex;
  width: 500px;
  align-items: center;
  justify-content: space-between;
}

.filter__slider {
  margin-top: 20px;
  width: 320px;
  height: 2px;
  background-color: #afadb5;
}

.filter__slider .thumb {
  width: 23px;
  height: 23px;
  cursor: grab;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #3cc;
  top: -12px;
}

.slider .thumb:focus {
  background-color: #3cc;
}

.filter__title {
  font-size: 20px;
}

.filter__range {
  font-size: 15px;
  color: #afadb5;
}



@include smallTablet {
  .filter {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
}

@include extraSmallMobile {
  .filter {
    width: 100%;

    &__slider {
      width: 100%;
    }

    &__block {
      width: 100%;
    }
  }
}

@include tinyMobile {
  .filter__title {
    font-size: 16px;
  }
}